<app-top-banner></app-top-banner>

<form id="for" [formGroup]="fg" (ngSubmit)="login()">
  <div class="formBox">
    <h1>Log In</h1>
    <div id="email" class="field col-12 md:col-4">
      <span class="p-float-label">
        <input type="email" id="mail" pInputText formControlName="email">
        <label for="mail"> E-mail </label>
      </span>
    </div>

    <div id="pwd" class="field col-12 md:col-4">
      <span class="p-float-label">
        <input type="password" id="pass" pInputText formControlName="password">
        <label for="pass"> password </label>
      </span>
    </div>
    <div id="btn">
      <button pButton type="button" label="login" (click)="login()" ></button>
    </div>
  </div>
</form>
