<!-- <header style="background-color: white;">
  <img class="banner" src="../assets/tripbook.png" >
</header>
  <div class="menu">
      <div class="box1" >
        <div class="homeLink">
          <a class="a2" href="home">
            <i title="Home" class="pi pi-home" style="font-size: 1.3rem"></i>
          </a>
        </div>
        <div class="inscLink">
          <a class="a1" href="inscription">
            <i title="Join now" class="pi pi-user-plus" style="font-size: 1.3rem"></i>
          </a>
        </div>
      </div>
      <div class="box2">
        <div class="listLink">
          <a class="a2" href="userlist">
            <i title="Member list" class="pi pi-list" style="font-size: 1.3rem"></i>
          </a>
        </div>
        <div class="loginLink">
          <a href="login">
            <i title="Login" class="pi pi-sign-in" style="font-size: 1.3rem"></i>
          </a>
        </div>
    </div>
  </div> -->

<router-outlet></router-outlet>
