/* You can add global styles to this file, and also import other style files */
.p-datatable-resizable .p-datatable-thead > tr > th, .p-datatable-resizable .p-datatable-tfoot > tr > td, .p-datatable-resizable .p-datatable-tbody > tr > td {
  overflow: unset !important;
  white-space: unset !important;
}
body{
  margin: 0;
}
